<div class="card">
  <div class="img">
    <div></div>
    <div></div>
    <img
      alt="alt"
      width="600"
      height="500"
      src="https://v0-georgia-e-commerce-platform.vercel.app/placeholder.svg"
    />
  </div>

  <div class="content">
    <h1 class="title">ორგანული პომიდორი</h1>

    <div class="info_center">
      <h1 class="pricing">₾4.5<span>/კგ</span></h1>

      <h1 class="rating">
        <i class="pi pi-star-fill"></i> 4.8 <span>(24)</span>
      </h1>
    </div>

    <div class="farmer">
      <div class="left">
        <p-avatar icon="pi pi-user" shape="circle" />

        <div class="info">
          <h1 class="name">გიორგი ბერიძე</h1>
          <p class="location"><i class="pi pi-map-marker"></i> გორი</p>
        </div>
      </div>
      <div></div>
    </div>

    <div class="cart__btns">
      <p-button
        icon="pi pi-minus"
        [rounded]="true"
        [raised]="true"
        [text]="true"
        size="small"
      />
      <p>1</p>
      <p-button
        icon="pi pi-plus"
        [rounded]="true"
        [raised]="true"
        [text]="true"
        size="small"
      />
    </div>

    <button
      pButton
      class="btn"
      type="button"
      title="კალათაში დამატება"
      icon="pi pi-shopping-cart"
    >
      კალათაში დამატება
    </button>
  </div>
</div>
