.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;
}

.verify-container {
  max-width: 500px;
  margin: 80px auto;

  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 0.5rem;
    color: #333;
  }

  p {
    margin-bottom: 1.5rem;
    color: #666;
  }

  .p-inputotp {
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  .verify-btn {
    width: 100%;
  }
}
