<section class="roadmap__section">
  <div class="container">
    <h1 class="title">როგორ მუშაობს</h1>
    <p class="text">მარტივი ნაბიჯები ფერმის ახალი პროდუქტების მისაღებად</p>

    <div class="content">
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye h-8 w-8"
          >
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
            ></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </div>
        <h1 class="title">1. ნახეთ და აირჩიეთ</h1>
        <p class="text">
          დაათვალიერეთ ჩვენი ბაზარი ახალი პროდუქტებისა შემოწმებული ადგილობრივი
          ფერმერებისგან.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trending-up h-8 w-8"
          >
            <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
            <polyline points="16 7 22 7 22 13"></polyline>
          </svg>
        </div>
        <h1 class="title">2. შეუკვეთეთ და გადაიხადეთ</h1>
        <p class="text">
          დაამატეთ პროდუქტები კალათაში და უსაფრთხოდ გადაიხადეთ. ფერმერებთან
          პირდაპირ კომუნიკაცია.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-truck h-8 w-8"
          >
            <path
              d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"
            ></path>
            <path d="M15 18H9"></path>
            <path
              d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
            ></path>
            <circle cx="17" cy="18" r="2"></circle>
            <circle cx="7" cy="18" r="2"></circle>
          </svg>
        </div>
        <h1 class="title">3. მიიღეთ ახალი</h1>
        <p class="text">
          მიიღეთ ახალი პროდუქტები პირდაპირ ფერმიდან. ისიამოვნეთ ავთენტური
          ქართული პროდუქტების გემოთი.
        </p>
      </div>
    </div>
  </div>
</section>
