<section class="hero__section">
  <div class="hero__content">
    <div class="left">
      <h1 class="title">ფერმიდან ახალი, <span>პირდაპირ მიწოდება</span></h1>
      <p class="text">
        დაუკავშირდით ქართულ ფერმერებს და ისიამოვნეთ ყველაზე ახალი პროდუქტებით,
        რძის პროდუქტებითა და ხელნაკეთი პროდუქტებით პირდაპირ ფერმიდან თქვენს
        მაგიდაზე.
      </p>

      <div class="buttons">
        <p-button
          icon="pi pi-arrow-right"
          label="Get started"
          iconPos="right"
          type="button"
          class="btn"
        />
        <p-button
          label=" Sell products"
          severity="warn"
          type="button"
          class="btn"
          outlined
        />
      </div>

      <div class="features">
        <div class="features__box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-check-big h-5 w-5 text-primary"
          >
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
            <path d="m9 11 3 3L22 4"></path>
          </svg>
          პირდაპირ ფერმებიდან
        </div>
        <div class="features__box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-shield h-5 w-5 text-primary"
          >
            <path
              d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"
            ></path>
          </svg>
          სიახლის გარანტია
        </div>
        <div class="features__box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-users h-5 w-5 text-primary"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          ადგილობრივი მხარდაჭერა
        </div>
      </div>
    </div>

    <div class="right">
      <img
        width="800"
        height="600"
        alt="hero img"
        loading="eager"
        src="assets/images/hero-img.avif"
      />
    </div>
  </div>
</section>

<app-categories-section></app-categories-section>

<section class="roadmap__section">
  <div class="container">
    <h1 class="title">როგორ მუშაობს</h1>
    <p class="text">მარტივი ნაბიჯები ფერმის ახალი პროდუქტების მისაღებად</p>

    <div class="content">
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye h-8 w-8"
          >
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
            ></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </div>
        <h1 class="title">1. ნახეთ და აირჩიეთ</h1>
        <p class="text">
          დაათვალიერეთ ჩვენი ბაზარი ახალი პროდუქტებისა შემოწმებული ადგილობრივი
          ფერმერებისგან.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trending-up h-8 w-8"
          >
            <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
            <polyline points="16 7 22 7 22 13"></polyline>
          </svg>
        </div>
        <h1 class="title">2. შეუკვეთეთ და გადაიხადეთ</h1>
        <p class="text">
          დაამატეთ პროდუქტები კალათაში და უსაფრთხოდ გადაიხადეთ. ფერმერებთან
          პირდაპირ კომუნიკაცია.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-truck h-8 w-8"
          >
            <path
              d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"
            ></path>
            <path d="M15 18H9"></path>
            <path
              d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
            ></path>
            <circle cx="17" cy="18" r="2"></circle>
            <circle cx="7" cy="18" r="2"></circle>
          </svg>
        </div>
        <h1 class="title">3. მიიღეთ ახალი</h1>
        <p class="text">
          მიიღეთ ახალი პროდუქტები პირდაპირ ფერმიდან. ისიამოვნეთ ავთენტური
          ქართული პროდუქტების გემოთი.
        </p>
      </div>
    </div>
  </div>
</section>
