@use "mixins" as *;

// HERO SECTION
.hero__section {
  width: 100%;
  padding-block: 80px;

  background: linear-gradient(
    to right,
    rgb(34 197 94 / 0.1),
    rgb(249 115 22 / 0.1)
  );

  @media screen and (max-width: 420px) {
    padding-block: 60px;
  }

  .hero__content {
    @include container;

    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;

    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .left {
      .title {
        font-size: 2.5rem;
        font-weight: 700;
        animation: fadeUp 1s ease-in-out;

        span {
          color: var(--p-primary-color);
        }
      }

      .text {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 20px;
        color: var(--p-gray-700);

        animation: fadeUp 1.3s ease-in-out;
      }

      @media screen and (max-width: 420px) {
        .title {
          font-size: 1.5rem;
        }

        .text {
          font-size: 0.7rem;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;

      animation: fadeUp 1.5s ease-in-out;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 40px;
      gap: 0.75rem;

      animation: fadeUp 1.5s ease-in-out;

      &__box {
        display: flex;
        align-items: center;
        white-space: nowrap;

        background: #fff;
        font-weight: 500;
        font-size: 14px;

        border-radius: 90px;
        padding: 8px 16px;
        gap: 0.5rem;
        flex: 1;

        &:nth-child(1) {
          animation: fadeUp 2s ease-in-out;
        }

        &:nth-child(2) {
          animation: fadeUp 2.5s ease-in-out;
        }

        &:nth-child(3) {
          animation: fadeUp 3s ease-in-out;
        }

        svg {
          width: 20px;
          height: 20px;
          color: var(--p-primary-color);
        }
      }
    }

    .right {
      overflow: hidden;
      border-radius: 20px;

      box-shadow: var(--p-primary-color) 0px 20px 30px -10px;
      animation: fadeIn 1s ease-in-out, float 6s 1s ease-in-out infinite;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// animations
@keyframes fadeIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 420px) {
  .buttons {
    flex-direction: column;

    ::ng-deep p-button button,
    p-button {
      width: 100% !important;
    }
  }
}
