<header class="header">
  <nav class="nav">
    <!--  -->
    <div class="left">
      <button
        pButton
        title="menu"
        severity="warn"
        icon="pi pi-bars"
        class="menu__button"
        (click)="visible = true"
      ></button>
      <a routerLink="/" class="logo">
        <div class="logo__icon">
          <svg
            width="24"
            height="24"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"
            ></path>
            <path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"></path>
          </svg>
        </div>
        <h1>Farm connect</h1>
      </a>
    </div>

    <!-- Search  -->
    <p-iconfield class="search">
      <p-inputicon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        pSize="large"
        placeholder="მოძებნეთ პროდუქტები..."
      />
    </p-iconfield>

    <!--  -->
    <div class="right">
      <div class="cart">
        <span class="pi pi-shopping-cart"></span>
      </div>
      <div class="user__button">
        <p-avatar
          size="large"
          shape="circle"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        />
      </div>
    </div>
  </nav>
</header>

<p-drawer class="mobile_menu" [(visible)]="visible" header="Farm connect">
  <p-iconfield class="mobile_search">
    <p-inputicon styleClass="pi pi-search" />
    <input
      type="text"
      pInputText
      pSize="large"
      placeholder="მოძებნეთ პროდუქტები..."
    />
  </p-iconfield>

  <div class="menu">
    @for (item of links; track $index) {
    <a
      routerLinkActive="active"
      [routerLink]="item.url"
      class="menu__link"
      pRipple
    >
      <i class="icon" [class]="item.icon"></i>
      <span class="label">{{ item.label }}</span>
    </a>
    }
  </div>
</p-drawer>
