@use "mixins" as *;

.header {
  position: sticky;
  overflow: hidden;
  z-index: 999;
  inset: 0;

  padding-block: 0.75rem;
  background: #ffffff67;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.nav {
  @include container;

  display: grid;
  column-gap: 24px;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}

.left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;

  animation: fadeInLeft 1s ease-in-out;

  .menu__button {
    height: 40px;
    width: 40px;
  }

  .logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      flex-shrink: 0;
      padding: 6px;

      background: var(--p-primary-color);
      color: white;

      height: 40px;
      width: 40px;
    }

    h1 {
      font-size: 20px;
      font-weight: 700;

      background: linear-gradient(to top left, #10b981 50%, #f97316 50%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

.search {
  animation: searchAnimation 1s ease-in-out;

  input {
    width: 100%;
  }
}

.right {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 20px;

  animation: fadeInRight 1s ease-in-out;

  .cart span {
    font-size: 26px;
    cursor: pointer;
  }

  .user__button {
    cursor: pointer;
  }
}

// MENU
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .menu__link {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 16px;
    gap: 12px;

    color: var(--p-gray-700);
    transition: all 0.3s ease-in;

    &:hover {
      background: var(--p-gray-100);
      color: var(--p-primary-color);
    }

    &.active {
      background: var(--p-primary-color);
      color: var(--p-gray-100);
    }

    .icon {
      font-size: 20px;
    }

    .label {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 700px) {
  .nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    display: none;
  }
}

// animations
@keyframes fadeInLeft {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100;
  }
}

@keyframes searchAnimation {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 100%;
    opacity: 100;
  }
}
