<section class="products__section">
  <div class="top">
    <div>
      <h1 class="title">რჩეული პროდუქტები</h1>
      <p class="text">ყველაზე პოპულარული და ხარისხიანი პროდუქტები</p>
    </div>
    <p-button
      iconPos="right"
      variant="outlined"
      severity="contrast"
      label="ყველას ნახვა"
      icon="pi pi-arrow-right"
      routerLink="/marketplace"
    />
  </div>

  <div class="products">
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
  </div>
</section>
