@use "mixins" as *;

.category__section {
  @include container;
  padding-block: 4rem;

  .title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;

    @media screen and (max-width: 400px) {
      font-size: 20px;
    }
  }

  .text {
    font-size: 18px;
    text-align: center;
    color: var(--p-gray-500);

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  margin-top: 32px;
  gap: 1rem;

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;

    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 12px;
    padding: 16px;

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform: translateY(0) scale(1);
    background: white;
    cursor: pointer;
    opacity: 1;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      transform: translateY(-8px) scale(1.02);
    }

    &:active {
      transform: translateY(-4px) scale(0.98);
      transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .icon {
    font-size: 36px;
  }

  .title {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .text {
    color: var(--p-gray-500);
    font-size: 12px;
  }
}
